.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: #635e5edf;
    padding: 20px;
    border-radius: 25px;

}

input{
    display: ;
}