body{
    text-align: center;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.square{
    width: 100px;
    height: 100px;
    background-color: rgba(135, 123, 195, 0.532);
    border: 1px solid rgb(80, 80, 222);
    display: inline-block;
}

.o{

}

.o:after{
    content
}