body{
 font-family: 'Roboto', sans-serif;
}

.card{
 width: 160px;
 height: 250px;
}

.card_back, .card_front {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
 border-radius: 3px;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}

.card_front {
 background-color: #0B0401;
}

.card_back{
 background-color: #101c2c;
}