
@keyframes changeColor {

 0% {background-color: red;}
 50% {background-color:yellow}
 to {background-color: blue;}

}


.box{
 width: 200px;
 height: 200px;
 border-style: solid;
 animation-name:  changeColor;
 animation-duration: 6s;
}