*{
 margin: 0;
 padding: 0;
}

body{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container

header{
 background-color: #48C5CE;
 text-align: center;
 color: white
 padding: 10px;


}
.title{
 font-size: 26px;
}